.styl {
    font-family: cursive;
    font-size: 50px;
    color:snow;
    background-color: slateblue;
    text-shadow: 2px 2px 5px red;
    box-shadow: 10px 10px 5px grey;
 
}
.imager {
    height: 100px;
    width: 100px;
}
body {
    background-image: url("./public/diego-ph-v8QdhKbOoC0-unsplash.jpg");
    background-repeat: no-repeat;
   background-size: 1400px 650px;
  padding: 10px;
}
button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  input {
      padding: 5px;
      margin: 5px;
      font-size: 16px;
      border: 1px solid black;
  }
